.footer{
  width: 100%;
  padding: 4.7rem 1.4rem;
  background-color: #E93F36;
}

.footer > h1, h2{
  font-family: 'Poppins', sans-serif;
  color: white;
  text-align: center;
  color: white
}

@media only screen and (min-width: 768px){
  .footer{
    padding: 4.7rem 2.7rem;
  }
}